#homePage {
  height: 100vh;
}

#content {
  height: 100vh;
}

#wordList {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

#gameView {
  display: flex;
  height: 100vh;
}

#draw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  width: 75%;
  height: 100%;
  align-items: center;
}

.canvas {
  border: 2px solid black;
}